In [1]:
#loading data
import pandas as pd 

column_names = ['country', 'ccode', 'year', 'c02 emissions']

def load_data():
    e=pd.read_excel('share of renewabl energy.xlsm')
    p=pd.read_excel('population.xlsm')
    ec=pd.read_excel('energy consumption.xlsm')
    c=pd.read_excel('co2 emissions.xlsm', header= None, names=column_names )
    return e,p,ec,c

e, p, ec, c = load_data()

In [2]:
#removing inconsistencies in data

en=e.country.nunique()
pn=p.country.nunique()
ecn=ec.country.nunique()
cn=c.country.nunique()
print(f'p:{pn}, e:{en}, c:{cn}, ec: {ecn}')

p:271, e:99, c:231, ec: 167

In [3]:
# merging the dataframes

merged = pd.merge(e, p, how='inner', on=['country', 'year'])
merged.country.nunique()

86

In [4]:
merge1 = pd.merge(merged, ec, how='inner', on=['country', 'year'])
merge2 = pd.merge(merge1, c, how='inner', on=['country', 'year'])

In [11]:
df=merge2.copy()
df=df.drop(columns=['ccode'])
df

,country,year,%renewables,population,primary energy consumption per GDP (kWh/$),gdp per capita,c02 emissions
0,Algeria,1990,0.126739,25375816,2.672821,4697.0000,3.024046
1,Algeria,1991,0.277607,25987937,2.577059,4708.2320,3.032439
2,Algeria,1992,0.183757,26628568,2.502111,4850.2230,2.999910
3,Algeria,1993,0.350280,27277040,2.287416,4816.9240,3.004137
4,Algeria,1994,0.162579,27887276,2.248447,4856.9854,3.177377
...,...,...,...,...,...,...,...
2245,World,2018,11.743186,7729902724,1.359974,15814.8490,4.751732
2246,World,2019,12.228147,7811293714,1.337269,16091.4490,4.750081
2247,World,2020,13.404395,7887001284,1.329519,15461.1870,4.453724
2248,World,2021,13.469198,7954448405,1.315260,16282.9810,4.650446
2249,World,2022,14.119935,8021407170,1.296633,16676.7500,4.649288

In [6]:
df.nunique()

country                                         74
year                                            33
%renewables                                   2217
population                                    2250
primary energy consumption per GDP (kWh/$)    2250
gdp per capita                                2250
ccode                                           74
c02 emissions                                 2250
dtype: int64

In [8]:
df.isna().sum()

country                                       0
year                                          0
%renewables                                   0
population                                    0
primary energy consumption per GDP (kWh/$)    0
gdp per capita                                0
ccode                                         0
c02 emissions                                 0
dtype: int64

In [16]:
df['country'].unique()

array(['Algeria', 'Argentina', 'Australia', 'Austria', 'Azerbaijan',
       'Bangladesh', 'Belarus', 'Belgium', 'Brazil', 'Bulgaria', 'Canada',
       'Chile', 'China', 'Colombia', 'Croatia', 'Czechia', 'Denmark',
       'Ecuador', 'Egypt', 'Estonia', 'Finland', 'France', 'Germany',
       'Greece', 'Hong Kong', 'Hungary', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan', 'Kazakhstan',
       'Latvia', 'Lithuania', 'Luxembourg', 'Malaysia', 'Mexico',
       'Morocco', 'Netherlands', 'New Zealand', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Romania', 'Russia', 'Saudi Arabia', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Turkey', 'Turkmenistan', 'Ukraine', 'United Kingdom',
       'United States', 'Uzbekistan', 'Venezuela', 'Vietnam', 'World'],
      dtype=object)